<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-2">Bienvenidos</h1>
            <a href="/signin" class="btn btn-primary">Ingresar</a>
        </div>
    </header>
</main>